body{
    margin: 0;
    padding: 0;
    outline: none;
}
:root{
    --color-main-one: #20232A;
    --header-active-color:#61DAFB;
    --nav-active-color:#000208;
    --page-color-gray: #836D6D;
}



/*Codes for Home page*/
.container{
    height: 320px;
    background-color: rgb(40,44,52);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    h1{
        font-size: 46px;
        margin: 0;
        padding-top: 60px;
        color: var(--header-active-color);  
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
    h3{
        font-size: 22px;
        font-weight: 300;
        color: #f3eaea;
        letter-spacing: 1px;
        word-spacing: 2px;
        line-height: 28px;
    }
    button{
        height: 38px;
        width: 140px;
        background-color: var(--header-active-color);
        cursor: pointer;
        transition: 0.3s;
        border: none;
        outline: none;
        margin-right: 30px;
        a{
            text-decoration: none;
            font-size: 15px;
            color: #000208;
            letter-spacing: 0.2px;
        }
    }
    button:hover{
        background-color: #f3eaea;
        color: #000208;
    }
    a{
        text-decoration: none;
        font-size: 16px;
        color: var(--header-active-color);
    }
}






/*Codes for Docs pages*/
.header{
    background-color: var(--color-main-one);
    color: white;
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    padding: 0 100px 0 70px;

    a{
        text-decoration: none;
        color: inherit;
    }
    .logo{
        padding: 11px 5px 13px 0;
        font-size: 20px;
        color: var(--header-active-color);
        font-weight: bold;
        img{
            height: 26px;
            width: 26px;
            position: absolute;
            left: 0;
            padding: 2px 0 0 40px;
            cursor: pointer;
        }
    }

    .panel{
        font-size: 16px;
        display: flex;
        flex-direction: row;
        padding: 15px 15px 15px 60px;
        :hover{
            color: var(--header-active-color);
        }
        li{
            list-style: none;
            padding: 0 15px;
        }
    }

    .links{
        font-size: 16px;
        display: flex;
        flex-direction: row;
        padding: 15px;
        position: absolute;
        right: 0;
        padding-right: 60px;
        li{
            list-style: none;
            padding: 0 15px;
            i{
                font-size: 15px;
                padding: 5px;
            } 
        }
        svg{
            fill: white;
            cursor: pointer;
        }
        .fa-github{
            display: none;
        }
    }
}


.sidenav{
    background-color: #F7F7F7;
    position: absolute;
    left: 0;
    margin: auto;
    width: 280px;
    height: auto;
    min-height: 100vh;
    border-right: 1px solid #e4e3e3;
    padding-top: 40px;

    ul{
        text-transform: uppercase;
        color: var(--page-color-gray);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.12px;
        line-height: 42px;
        cursor: pointer;
        transition: 0.2s;
        width: max-content;
        a{
            text-decoration: none;
            color: inherit;
        }
        i{
            font-size: 16px;
            padding-left: 5px;
        }

        li{
            text-transform: capitalize;
            list-style: none;
            font-size: 15px;
            line-height: 27px;
            color: #292525 !important;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            display: none;
            font-weight: 400;
            width: fit-content;
            :hover{
                color: var(--page-color-gray);
            }
            a{
                text-decoration: none;
                color: inherit;
                padding-left: 10px;
            }
        }
    }

    .active-content{
        color: var(--color-main-one);
        li{
            display: block;
            color: var(--page-color-gray);
        }
        i{
            transform: rotate(180deg);
            margin-left: 5px;
        }
    }
    .active-item{
        color: var(--nav-active-color) !important;
        font-weight: 600;
        border-left: 5px solid var(--header-active-color);
    }
}





























/*Media Queries for Responsive web page*/

@media only screen and (max-width: 460px){
    .header{
        .links{
            display: none;
        }
    }
}
@media only screen and (max-width: 670px){
    // for Homepage
    .container{
        height: 240px ;
        h1{
            font-size: 28px;
        }
        h3{
            font-size: 16px;
            word-spacing: 0.5px;
            letter-spacing: 0.4px;
        }
    }

    //for Docs pages
    .sidenav{
        display: none;
    }
    .header{
        .logo{
            font-size: 16px;
            margin-left: -30px;
            cursor: pointer;
            img{
                height: 20px;
                width: 20px;
                padding-left: 10px;
            }
        }
        .panel{
            font-size: 14px;
            margin-left: -40px;
            li{
                padding: 0 10px;
            }
        }
        .links{
            svg{
                width: 60% !important;
            }
            .fa-github{
                font-size: 20px !important;
                margin-right: -20px;
            }
        }
    }
}


@media only screen and (max-width: 850px){
    .sidenav{
        width: 230px;
        li{
            max-width: 180px;
        }
    }

    .header{
        .panel{
           
        }
        .links{
            svg:hover{
                fill: var(--header-active-color);
            }
           li:nth-child(2){
               display: none;
           }
           li:nth-child(3){
            display: none;
            }
            .fa-github{
                display: block;
                font-size: 24px;
                padding-left: 16px;
                cursor: pointer;
            }
            .fa-github:hover{
                color: var(--header-active-color);
            }
        }
    }
}
@media screen and (max-width: 1080px) and (min-width: 850px){
    .sidenav{
        ul{
            li{
                max-width: 230px;
            }
        }
    }
}
@media only screen and (min-width: 1080px){
    .header{
        font-size: 17px;
        .logo{
            font-size: 22px;
        }
    }
    .sidenav{
        width: 340px;
        ul{
            font-size: 16px;
            li{
                font-size: 17px;
            }
        }
    }
}


@media only screen and (min-width: 1265px){
    //for Homepage
    .container{
        height: 420px;
        background-image: url(../img/react.svg);
        background-size: 600px 770px;
        background-repeat: no-repeat;
        background-position: right top;
        h1{
            font-size: 60px;
        }
        h3{
            font-size: 28px;
            margin-bottom: 60px;
        }
        button{
            height: 54px;
            a{
                font-size: 19px;
            }
        }
        a{
            font-size: 19px;
        }
    }
    //for Docs pages
    .header{
        .logo{
            font-size: 21px;
            padding-left: 10px;
            padding-top: 16px;
            img{
                height: 30px;
                width: 30px;
            }
        }
        .panel{
            font-size: 18px;
            padding: 20px 20px 20px 80px;
        }
        .links{
            font-size: 18px;
        }
    }
}