body {
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --color-main-one: #20232A;
  --header-active-color:#61DAFB;
  --nav-active-color:#000208;
  --page-color-gray: #836D6D;
}

/*Codes for Home page*/
.container {
  height: 320px;
  background-color: #282c34;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container h1 {
  font-size: 46px;
  margin: 0;
  padding-top: 60px;
  color: var(--header-active-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container h3 {
  font-size: 22px;
  font-weight: 300;
  color: #f3eaea;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 28px;
}

.container button {
  height: 38px;
  width: 140px;
  background-color: var(--header-active-color);
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
  margin-right: 30px;
}

.container button a {
  text-decoration: none;
  font-size: 15px;
  color: #000208;
  letter-spacing: 0.2px;
}

.container button:hover {
  background-color: #f3eaea;
  color: #000208;
}

.container a {
  text-decoration: none;
  font-size: 16px;
  color: var(--header-active-color);
}

/*Codes for Docs pages*/
.header {
  background-color: var(--color-main-one);
  color: white;
  display: flex;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 0 100px 0 70px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header .logo {
  padding: 11px 5px 13px 0;
  font-size: 20px;
  color: var(--header-active-color);
  font-weight: bold;
}

.header .logo img {
  height: 26px;
  width: 26px;
  position: absolute;
  left: 0;
  padding: 2px 0 0 40px;
}

.header .panel {
  display: flex;
  flex-direction: row;
  padding: 15px 15px 15px 60px;
}

.header .panel :hover {
  color: var(--header-active-color);
}

.header .panel li {
  list-style: none;
  padding: 0 15px;
}

.header .links {
  display: flex;
  flex-direction: row;
  padding: 15px;
  position: absolute;
  right: 0;
  padding-right: 60px;
}

.header .links li {
  list-style: none;
  padding: 0 15px;
}

.header .links li i {
  font-size: 15px;
  padding: 5px;
}

.header .links svg {
  fill: white;
  cursor: pointer;
}

.header .links .fa-github {
  display: none;
}

.sidenav {
  background-color: #F7F7F7;
  position: absolute;
  left: 0;
  margin: auto;
  width: 280px;
  height: auto;
  min-height: 100vh;
  border-right: 1px solid #e4e3e3;
  padding-top: 40px;
}

.sidenav ul {
  text-transform: uppercase;
  color: var(--page-color-gray);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 42px;
  cursor: pointer;
  transition: 0.2s;
  width: max-content;
}

.sidenav ul a {
  text-decoration: none;
  color: inherit;
}

.sidenav ul i {
  font-size: 16px;
  padding-left: 5px;
}

.sidenav ul li {
  text-transform: capitalize;
  list-style: none;
  font-size: 15px;
  line-height: 27px;
  color: #292525 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: none;
  font-weight: 400;
  width: fit-content;
}

.sidenav ul li :hover {
  color: var(--page-color-gray);
}

.sidenav ul li a {
  text-decoration: none;
  color: inherit;
  padding-left: 10px;
}

.sidenav .active-content {
  color: var(--color-main-one);
}

.sidenav .active-content li {
  display: block;
  color: var(--page-color-gray);
}

.sidenav .active-content i {
  transform: rotate(180deg);
  margin-left: 5px;
}

.sidenav .active-item {
  color: var(--nav-active-color) !important;
  font-weight: 600;
  border-left: 5px solid var(--header-active-color);
}

/*Media Queries for Responsive web page*/
@media only screen and (max-width: 600px) {
  .sidenav {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .sidenav {
    width: 230px;
  }
  .sidenav li {
    max-width: 180px;
  }
  .header .links li:nth-child(2) {
    display: none;
  }
  .header .links li:nth-child(3) {
    display: none;
  }
  .header .links .fa-github {
    display: block;
    font-size: 24px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 850px) {
  .sidenav ul li {
    max-width: 230px;
  }
}

@media only screen and (min-width: 1080px) {
  .header {
    font-size: 17px;
  }
  .header .logo {
    font-size: 22px;
  }
  .sidenav {
    width: 340px;
  }
  .sidenav ul {
    font-size: 16px;
  }
  .sidenav ul li {
    font-size: 17px;
  }
}
